@font-face {
	font-family: 'RobotoCB';
	src: url('fonts/RobotoCondensed-Bold.ttf');
}
@font-face {
	font-family: 'CBYGrace';
	src: url('fonts/CoveredByYourGrace.ttf');
}
@font-face {
	font-family: 'GloriaH';
	src: url('fonts/GloriaHallelujah.ttf');
}
@font-face {
	font-family: 'ShadowsL';
	src: url('fonts/ShadowsIntoLight.ttf');
}
@font-face {
	font-family: 'ShortS';
	src: url('fonts/ShortStack-Regular.ttf');
}
@font-face {
	font-family: 'RobotoCR';
	src: url('fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
	font-family: 'BowlbyOne';
	src: url('fonts/BowlbyOne-Regular.ttf');
}
body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 30px;
}
.top {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-shrink: 0;
	/*height: 30%;*/
	width: 100%;
	margin-bottom: 20px;
	align-items: center;
	padding: 0px;
	border-bottom: solid 2px black;
	justify-content: center;
}
.bottom{
	/*height: 70%;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
}
.circleButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width:100px;
	height:100px; 
	border-radius:50px; 
	background:orange;
}
.homePageOuterMostDiv {
	height: 100%;
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.bannerText{
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.easyStepsText{
	font-family: ShadowsL;
	font-weight: bold;
	color: purple;
}
.CreateNarrationText{
	font-family: BowlbyOne;
}


