@charset "utf-8";
@font-face {
  font-family: 'RobotoCB';
  src: url("fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: 'CBYGrace';
  src: url("fonts/CoveredByYourGrace.ttf");
}
@font-face {
  font-family: 'GloriaH';
  src: url("fonts/GloriaHallelujah.ttf");
}
@font-face {
  font-family: 'ShadowsL';
  src: url("fonts/ShadowsIntoLight.ttf");
}
@font-face {
  font-family: 'ShortS';
  src: url("fonts/ShortStack-Regular.ttf");
}
@font-face {
  font-family: 'RobotoCR';
  src: url("fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: 'BowlbyOne';
  src: url("fonts/BowlbyOne-Regular.ttf");
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

input{
  height:20px;
}

.top {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
/*height: 30%;*/
  width: 100%;
  margin-bottom: 0px;
  align-items: center;
  padding: 0px;
  border-bottom: solid 2px #000;
  justify-content: center;
}
.bottom {
/*height: 70%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.loginAndViewNarrations{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#userAreaNarrationSelection:hover{
  background-color: rgba(0,0,255,0.4);
}
.userAreaViewAndSelectNarration{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
.loginForm {
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.circleButton2{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
  background: #d5da26;
  font-family: RobotoCR;
  transition: background 1s, color 1s;
  cursor: pointer;
  align-self: center;
}

.circleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 112px;
  border-radius: 70px;
  background: #d5da26;
  font-family: RobotoCR;
  transition: background 1s, color 1s;
  align-self: center;
  cursor: pointer;
}
.redSmallButton {
  background: #f00;
}
.redRecordButton {
  background: #f00;
  width: 75px;
  height: 75px;
}
.stopButton{
  border-radius: 0;
  background: hsl(249,100%,50%);
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid green;
}
.pause {
  width: 8px;
  height: 32px;
  border-right: 8px solid #000;
  border-left: 8px solid #000;
}
.circleButton:hover {
  background: #008000;
  color: #fff;
}
.small {
  width: 75px;
  height: 75px;
}
.extraSmall {
  width: 50px;
  height: 50px;
}
.alignSelfFlexStart {
  align-self: flex-start;
  font-size: 15px;
}
.alignSelfFlexEnd {
  align-self: flex-end;
}
.alignSelfFlexCenter {
  align-self: center;
}
.homePageOuterMostDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerText {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.easyStepsText {
  font-family: ShadowsL;
  font-weight: bold;
  color: #800080;
}
.createNarrationText {
  font-family: BowlbyOne;
}
.mainLogo {
  margin-bottom: -19px;
}
.page2 {
  justify-content: flex-start;
  align-items: flex-start;
}
.browseDiv.flexRowLayout {
  display: flex;
  flex-direction: row;
}
.imageGallery {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background: rgba(255,0,0,0.3);
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 19px;
  margin-bottom: 5px;
  flex-direction: row;
}
.imageGalleryTag {
  background: rgba(255,255,0,0.3);
}
.galleryImage {
  width: 100px;
  height: 70px;
  margin: 5px;
  user-select: none;
}
.viewNarrationsGallery{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
.narrationImage{
  width: calc(100% * (1/4) - 10px - 1px);
  height: 100px;
  margin: 5px;
}
.pointerEventsNone {
  pointer-events:none;
}
.absolutePositionGoBackButton {
  position: absolute;
  right: 20px;
  top: 20px;
}
.roundedCornersBorder {
  border-radius: 25px;
  border: 2px solid #8ac007;
  padding: 0px;
}
.videoBorderNewSize {
  align-self: center;
}
.containerDivRecordPage {
  display: flex;
  flex-direction: row;
  height: 400px;
}
.containerDivTextandImagesRecordPage {
  display: flex;
  flex-direction: column;
  background: rgba(0,255,0,0.3);
}
.leftRecordPageContainerDiv {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.rowLayout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: rgba(0,0,255,0.3);
}
.columnLayout {
  display: flex;
  flex-direction: column;
}
.inputTextDiv {
  width: 200px;
  margin: auto;
}
div.fileinputs {
  position: relative;
}
div.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  webkit-align-items: center;
  align-items: center;
}
input.file {
  position: relative;
  text-align: right;
  /*background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);*/
  -moz-opacity: 0;
  filter: alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}
.enterImageAddImageToGalleryFunctionality{
  display: flex;
  flex-direction: row;
}
.highlight{
  outline: solid 5px red;
}
.selectedThumbnail{
  outline: solid 5px blue;
}
