@font-face {
  font-family: 'RobotoCB';
  src: url("fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: 'CBYGrace';
  src: url("fonts/CoveredByYourGrace.ttf");
}
@font-face {
  font-family: 'GloriaH';
  src: url("fonts/GloriaHallelujah.ttf");
}
@font-face {
  font-family: 'ShadowsL';
  src: url("fonts/ShadowsIntoLight.ttf");
}
@font-face {
  font-family: 'ShortS';
  src: url("fonts/ShortStack-Regular.ttf");
}
@font-face {
  font-family: 'RobotoCR';
  src: url("fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: 'BowlbyOne';
  src: url("fonts/BowlbyOne-Regular.ttf");
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 30px;
}
.top {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
/*height: 30%;*/
  width: 100%;
  margin-bottom: 0px;
  align-items: center;
  padding: 0px;
  border-bottom: solid 2px #000;
  justify-content: center;
}
.bottom {
/*height: 70%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.circleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #d5da26;
  font-family: RobotoCR;
  transition: background 1s, color 1s;
  align-self: center;
}
.redSmallButton {
  background: #f00;
}
.redRecordButton {
  background: #f00;
  width: 75px;
  height: 75px;
}
.stopButton{
  border-radius: 0;
  background: hsl(249,100%,50%);
}
.circleButton:hover {
  background: #008000;
  color: #fff;
}
.small {
  width: 75px;
  height: 75px;
}
.extraSmall {
  width: 50px;
  height: 50px;
}
.alignSelfFlexStart {
  align-self: flex-start;
}
.alignSelfFlexEnd {
  align-self: flex-end;
}
.alignSelfFlexCenter {
  align-self: center;
}
.homePageOuterMostDiv {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bannerText {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.easyStepsText {
  font-family: ShadowsL;
  font-weight: bold;
  color: #800080;
}
.createNarrationText {
  font-family: BowlbyOne;
}
.mainLogo {
  margin-bottom: -19px;
}
.page2 {
  justify-content: flex-start;
  align-items: flex-start;
}
.browseDiv {
  display: flex;
  flex-direction: row;
}
.fileInputs {
  position: relative;
}
input.fileInputy {
  position: relative;
  -moz-opacity: 0;
  filter: alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}
.fakeFileInput {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
div.upload  {
  overflow: hidden;
}

div.upload input {
  display: block;
  width: 50px;
  height: 50px;
  opacity: 0;
  overflow: hidden;
}
.imageGallery {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background: rgba(255,0,0,0.3);
  flex-grow: 1;
  flex-shrink: 1;
}
.imageGalleryTag {
  flex-grow: 1;
  flex-shrink: 1;
  height: 370px;
  width: 500px;
  background: rgba(255,255,0,0.3);
}
.galleryImage {
  width: 100px;
  height: 70px;
  margin: 5px;
}
.absolutePositionGoBackButton {
  position: absolute;
  right: 20px;
  top: 20px;
}
.roundedCornersBorder {
  border-radius: 25px;
  border: 2px solid #8ac007;
  padding: 0px;
}
.videoBorderNewSize {
  width: 800px;
  height: 450px;
  align-self: center;
}
.containerDivRecordPage {
  display: flex;
  flex-direction: row;
  height: 400px;
}
.containerDivTextandImagesRecordPage {
  display: flex;
  flex-direction: column;
  background: rgba(0,255,0,0.3);
}
.leftRecordPageContainerDiv {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.rowLayout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: rgba(0,0,255,0.3);
}
.columnLayout {
  display: flex;
  flex-direction: column;
}
